#about {
  padding: 100px 0;
}

#about .about-text li {
  list-style: none;
  margin-bottom: 6px;
  margin-left: 6px;
  padding: 0;
}

#about .about-text li:before {
  color: #5ca9fb;
  content: "►";
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#about h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}

#about h2::after {
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 60px;
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#about img {
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
  margin-top: 10px;
  width: 520px;
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

#services {
  color: #fff;
  padding: 100px 0;
}

#services .section-title h2::after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  height: 4px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
}

#services .service-desc {
  margin: 10px 10px 40px;
}

#services h2 {
  color: #fff;
}

#services h3 {
  color: #fff;
  font-weight: 500;
  padding: 5px 0;
}

#services i.fa {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 42px;
  height: 120px;
  padding: 40px 0;
  width: 120px;
}

#services p {
  color: rgba(255, 255, 255, 0.75);
}

/* .about-container h2 {
  font-size: 48px;
}
.about-container {
  display: flex;
  padding: 100px 0;
  font-size: 18px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  padding: 60px;
}

.about-row {
  display: inline-grid;
  justify-content: center;
  text-align: left;
  padding-bottom: 20px;
}

.about-container h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
.about-container h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
/* #about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #1c2237 100%);
  height: 4px;
  width: 140px;
  bottom: 0;
  left: 0;
} */
/* .about-container .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
.about-container .about-text li:before {
  content: "►";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
.about-container img {
  width: 520px;
  margin-top: 10px;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
.about-container div {
  line-height: 24px;
  margin: 30px 0;
}

.list-style {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  text-align: left;
}

.about-content {
  display: inline-grid;
} */
