.home__adv-section {
  padding-bottom: 60px;
  padding-right: 300px;
  padding-left: 300px;
  color: #fff;
  text-align: center;
}

.home__adv-row {
  align-items: center;
}

.adv_row {
  display: flex;
  flex-wrap: wrap;
}

.adv_col {
  margin-bottom: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__adv-text-wrapper {
  max-width: 540px;
  padding-top: 0;
}

.adv_top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.adv_heading {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.home__adv-subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}

.home__adv-img-wrapper {
  max-width: 350px;
  margin-top: 0;
  margin-right: 0;
  padding-right: 0;
  padding-bottom: 50px;
}

.home__adv-img {
  width: 50%;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.dark {
  color: #1c2237;
}

.dxdarkBg {
  background-color: #2b3039;
}

.dxBg-gradient {
  background-image: linear-gradient(to top right, #fd8567, #ff958c, #ffa7b2);
}
@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .home__adv-section {
    padding: 100px 0px;
  }
}

@media screen and (max-width: 768px) {
  .home__adv-text-wrapper {
    padding-bottom: 65px;
  }

  .home__adv-section {
    padding: 100px 0px;
  }

  .adv_col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
