.adv-section-wrapper {
  background: url(../../../public/images/blob-scene.svg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
  padding-bottom: 100px;
}

.adv-section {
  /* background-color: #f9f9f9; */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 250px;
  padding-left: 250px;
  color: #fff;
  text-align: left;
}

.adv_row {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

.adv_col {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 1;
}

.adv-text-wrapper {
  padding-top: 0;
}

.adv_top-line {
  color: #fd8567;
  font-size: 1.3vmax;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.adv_heading {
  font-size: 4.5vmax;
  line-height: 1.1;
  font-weight: 600;
}

.adv-subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2vmax;
  line-height: 2vmax;
}

.adv-img-wrapper {
  text-align: center;
}

.adv-img {
  width: 80%;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (min-width: 1700px) {
  .adv-section {
    padding-left: 20vmax;
    padding-right: 20vmax;
  }
}

@media screen and (max-width: 1100px) {
  .adv-section {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 10vmax;
    padding-left: 10vmax;
    justify-content: center;
    /* text-align: center; */
  }

  .adv_col {
    margin-bottom: 15px;
    justify-content: center;
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
  .adv-section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adv-text-wrapper {
    width: 40vh;
  }
  .adv_top-line {
    padding-top: 300px;
    font-size: 2vmax;
  }
  .adv_heading {
    font-size: 7vmax;
  }
  .adv-subtitle {
    font-size: 3vmax;
    line-height: 3vmax;
  }
  .adv-img-wrapper {
    position: absolute;
    width: 300px;
    left: 5vh;
  }
}

@media screen and (max-width: 400px) {
  .adv-section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adv-text-wrapper {
    width: 30vh;
  }
  .adv-section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .adv_top-line {
    padding-top: 60px;
  }
  .adv-img-wrapper {
    position: absolute;
    width: 70px;
    left: 40%;
  }
}
