* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.light {
  color: #fff;
}

.dark {
  color: #2e3033;
}

.darkBg {
  background-color: #1c2237;
}

.dxdarkBg {
  background-color: #2b3039;
}

.dxBg-gradient {
  background-image: linear-gradient(to top right, #fd8567, #ff958c, #ffa7b2);
}
