* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  cursor: default;
}
.notused {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body {
  background: url(../../../public/images/endless-constellation3.svg);
  background-repeat: repeat;
}

.light {
  color: #fff;
}

.dark {
  color: #2e3033;
}

.darkBg {
  background-color: #1c2237;
}

.dxdarkBg {
  background-color: #2b3039;
}

.dxBg-gradient {
  background-image: linear-gradient(to top right, #fd8567, #ff958c, #ffa7b2);
}

.page {
  position: relative;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
