$color: #3b8fbe; //#fe8464; //

.rounded-dx {
  border: none;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

/* From uiverse.io by @alexmaracinaru */
.arrow-dx {
  border: none;
  background: none;
  color: #3b8fbe;
}

.arrow-dx span {
  padding-bottom: 7px;
  font-size: 1.5vmax;
  padding-right: 15px;
  font-weight: 900;
  // text-transform: uppercase;
}

.arrow-dx svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.arrow-dx:hover svg {
  transform: translateX(0);
}

.arrow-dx:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #3b8fbe;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b8fbe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.arrow-dx:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* optional reset for presentation */
// * {
//   font-family: Arial;
//   text-decoration: none;
//   font-size: 20px;
// }
// .container {
//   padding-top: 50px;
//   margin: 0 auto;
//   width: 100%;
//   text-align: center;
// }
// h1 {
//   text-transform: uppercase;
//   font-size: 0.8rem;
//   margin-bottom: 2rem;
//   color: #777;
// }
// span {
//   display: block;
//   margin-top: 2rem;
//   font-size: 0.7rem;
//   color: #777;
//   a {
//     font-size: 0.7rem;
//     color: #999;
//     text-decoration: underline;
//   }
// }
