#features_services {
  /* background: url(../../../public/images/mesh1.png) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  /* background-image: linear-gradient(to top right, #fd8567, #ff958c, #ffa7b2); */
  padding-top: 4vmax;
  padding-bottom: 4vmax;
  padding-left: 5vmax;
  padding-right: 5vmax;
  /* text-shadow: 1px 1px #fff; */
  /* color: #fff; */
}

.custom_features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vmax, 1fr));
  grid-template-rows: auto;
}

.custom_features {
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: black; */
  display: inline-grid;
  margin: 1.2vmax;
  padding-left: 2vmax;
  padding-right: 2vmax;
  padding-top: 1vmax;
  padding-bottom: 0.1vmax;
  /* background-color: #2b3039; */
  /* border: 1px solid #e1e1e1; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #2b3039; */
  /* background: rgba(0, 0, 0, 0.02);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

/* .features_service-desc {
} */

.features_service-desc li {
  list-style: none;
  margin-bottom: 6px;
  margin-left: -30px;
  padding: 0;
  font-size: 1.3vmax;
}

.features_service-desc li:before {
  /* color: #fff; */
  content: "✓";
  font-size: 1vmax;
  font-weight: 300;
  padding-right: 8px;
}

.custom_features:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.features-title {
  padding-top: 50px;
  margin-right: 60px;
}
.features-title h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3vmax;
}
.features-title h4 {
  font-size: 1.5vmax;
}

#features_services h3 {
  font-weight: 500;
  padding: 5px 0;
  font-size: 2.5vmax;
}

#features_services h5 {
  font-size: 1.4vmax;
}

.icon {
  font-size: 4vmax;
}

@media screen and (max-width: 1200px) {
  .features_service-desc li {
    font-size: 2.2vmax;
  }

  .features_service-desc li:before {
    font-size: 2vmax;
  }
  .features-title h1 {
    font-size: 5vmax;
  }
  .features-title h4 {
    font-size: 3vmax;
  }

  #features_services h3 {
    font-size: 4vmax;
  }

  #features_services h5 {
    font-size: 2.4vmax;
  }

  .icon {
    font-size: 5vmax;
  }
}

@media screen and (max-width: 960px) {
  .features-title {
    padding-top: 5px;
    padding-left: 30px;
  }

  #features_services {
    padding-left: 0px;
    padding-right: 0px;
  }
  .custom_features-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .custom_features-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .custom_features-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 300px) {
  .custom_features-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
