#features_services {
  background: url(../../../public/images/mesh4.png) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  /* background-image: linear-gradient(to top right, #fd8567, #ff958c, #ffa7b2); */
  padding-top: 5vmax;
  padding-bottom: 5vmax;
  padding-left: 60px;
  padding-right: 60px;
  /* color: #fff; */
}

.custom_features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vmax, 1fr));
  grid-template-rows: auto;
}

.custom_features {
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: black; */
  display: inline-grid;
  margin: 1.2vmax;
  padding-left: 1.5vmax;
  padding-right: 1.5vmax;

  padding-bottom: 2vmax;
  /* background-color: #2b3039; */
  border: 1px solid #e1e1e1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #2b3039; */
}

.features_service-desc {
}

.features_service-desc li {
  list-style: none;
  margin-bottom: 6px;
  margin-left: -30px;
  padding: 0;
  font-size: 1.3vmax;
}

.features_service-desc li:before {
  /* color: #fff; */
  content: "✓";
  font-size: 1vmax;
  font-weight: 300;
  padding-right: 8px;
}

.custom_features:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.features-title {
  padding-top: 50px;
  margin-right: 60px;
}
.features-title h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3vmax;
}
.features-title h4 {
  font-size: 1.5vmax;
}

#features_services h3 {
  font-weight: 500;
  padding: 5px 0;
  font-size: 2.5vmax;
}

#features_services h5 {
  font-size: 1.4vmax;
}

.icon {
  font-size: 4vmax;
}

@media screen and (max-width: 960px) {
  .features-title {
    padding-left: 30px;
  }
  #features_services {
    padding-left: 0px;
    padding-right: 0px;
  }
  .custom_features-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
