/* Header Section */
.header-container {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border: 0.5px solid;
  border-radius: 30px;
  padding: 5px;
}
.header-intro {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.header-img-wrapper {
  display: inline-grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header3-container {
  background: url(../../../public/images/cover.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.header3-intro {
  background: rgba(0, 0, 0, 0.2);
  /* background: rgba(255, 255, 255, 0.2); */
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 20vmax;
  padding-right: 20vmax;
}

.header3-intro-text {
  color: #fff;
}

.img-sizer {
  background: url(../../../public/images/cover3.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  width: 350px;
  height: 200px;
}
.header-img {
  object-fit: cover;
}
.intro-text {
  display: inline-grid;
}
.intro-text h1 {
  color: #2e3033;
  letter-spacing: 1.4px;
  font-size: 20px;
  margin-top: 0;
}

.header-container .intro-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.intro-text {
  padding-left: 70px;
  padding-right: 60px;
}

@media screen and (max-width: 900px) {
  .intro-text {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-img-wrapper {
    justify-content: center;
  }
  .img-sizer {
    width: 350px;
    height: 200px;
  }

  .header3-intro {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 850px) {
  .img-sizer {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .header-img-wrapper {
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .img-sizer {
    width: 230px;
    height: 200px;
  }
  .header-container {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
  }
  .header3-intro {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-intro {
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .intro-text {
    padding-left: 0px;
    padding-right: 0px;
    width: 250px;
  }
}
