/* Header Section */
.header-container {
  display: flex;
}
.header-intro {
  display: flex;
  padding: 0;
  background: url(../../../public/images/cover.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header-intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.header-intro h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 40px;
}

.header-intro div {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.header-container .intro-text {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}

.intro-text {
  padding-left: 100px;
  padding-right: 100px;
}
