#heroimg-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: auto;
  text-align: center;
}
.heroimg-intro {
  width: 90vmin;
  display: flex;
  justify-content: center;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 70% 0%, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0%, 100% 100%, 0 100%);
}
.heroimg-introImg {
  padding: 0;
  background: url(../../../public/images/cover-2.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.heroimg-intro .heroimg-overlay {
  background-color: #fff;
}

.heroimg-intro h1 {
  line-height: 30px;
  font-size: 5vmin;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 70px;
}

.heroimg-intro-text {
  padding-top: 180px;
  padding-bottom: 180px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 200px;
  letter-spacing: 0.5px;
}

.heroimg-button-wrapper {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .heroimg-intro h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 70px;
  }

  .heroimg-intro-text {
    padding-top: 160px;
    padding-bottom: 160px;
    line-height: 25px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 0.5px;
  }

  .heroimg-intro {
    clip-path: inset(13% 4% 12% 4%);
  }
}

@media screen and (max-width: 300px) {
  .heroimg-intro h1 {
    font-size: 30px;
  }
}
