.hero-section {
  color: #fff;
  padding-top: 140px;
  padding-bottom: 140px;
  padding-left: 80px;
}

.hero_row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.hero_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.hero-text-wrapper {
  padding-top: 0;
}

.hero-top-line {
  color: #fd8567;
  font-size: 1.7vmax;
  line-height: 1.7vmax;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero_heading {
  margin-bottom: 24px;
  font-size: 3.8vmax;
  line-height: 3.8vmax;
  font-weight: 600;
}

.hero-subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 35px;
  font-size: 2vmax;
  line-height: 2vmax;
  padding-right: 50px;
}
.hero-img-wrapper {
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero-img {
  width: 80%;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .hero-section {
    padding-right: 30px;
    padding-left: 30px;
    padding: 100px 0px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text-wrapper {
    padding-bottom: 65px;
  }

  .hero-section {
    padding: 100px 0px;
    padding-bottom: 0px;
  }

  .hero_col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
