.container-splashSlider {
  padding-top: 30px;
  height: 51vmax;
  position: relative;
  overflow: hidden;
}

.Splashslide-background1 {
  background: url(../../../public/images/ginger2.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* box-shadow: inset 0 -30px 30px rgba(0, 0, 0, 0.3); */
}

.Splashslide-background2 {
  background: url(../../../public/images/earthnet.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* box-shadow: inset 0 -30px 30px rgba(0, 0, 0, 0.3); */
}

.Splashslide {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.Splashslide img {
  border-radius: 25px;
}

.active-anim {
  opacity: 1;
  z-index: 1;
}

.not-active {
  z-index: -999;
}

@media screen and (max-width: 1000px) {
  .container-splashSlider {
    height: 50vmax;
  }
  .btn-Splashslide {
    display: none;
  }
  .container-dots {
    bottom: 5px;
  }
}

@media screen and (max-width: 769px) {
  .container-splashSlider {
    height: 170vmax;
  }
}

@media screen and (max-width: 480px) {
  .Splashslide {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 300px) {
  .Splashslide {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
