.splash-section {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 150px;
  padding-left: 80px;
}

.splash_heading {
  margin-bottom: 20px;
  font-size: 5vmax;
  font-weight: 600;
}

.splash_row {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.splash_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
}

.splash-text-wrapper {
  padding-top: 0;
  vertical-align: middle;
}

.splash_subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  /* font-size: 25px; */
  font-size: 2vmax;
  line-height: 2vmax;
}
.splash_img_wrapper {
  display: flex;
  text-align: center;
  /* vertical-align: middle;
  align-items: center;
  justify-content: center; */
}

.splash-img {
  margin-top: 40px;
  border: 0;
  width: 80%;
}

@media screen and (min-width: 1700px) {
  .splash-section {
    padding-left: 9vmax;
  }
  .splash-text-wrapper {
    padding-top: 8vmax;
  }
  .splash_img_wrapper {
    padding-top: 7vmax;
  }
}

@media screen and (max-width: 991px) {
  .splash-section {
    padding-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .splash_heading {
    font-size: 40px;
  }

  .splash-text-wrapper {
    padding-bottom: 65px;
  }

  .splash_col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .splash-img {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .splash_heading {
    font-size: 30px;
  }

  .splash_subtitle {
    font-size: 20px;
    line-height: 5.5vmax;
  }
}
