.container-splashSlider {
  height: 700px;
  position: relative;
  overflow: hidden;

  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.Splashslide {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.active-anim {
  opacity: 1;
}

.btn-Splashslide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background: #f1f1f1; */
  /* border: 1px solid rgba(34, 34, 34, 0.287); */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-Splashslide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
.Splashslide-overlay-container {
  display: grid;
  position: relative;
  text-align: left;
}

.Splashslide-control-panel {
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .container-splashSlider {
    height: 1100px;
  }
  .Splashslide-control-panel {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container-splashSlider {
    height: 1100px;
  }
  .Splashslide-control-panel {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .container-splashSlider {
    height: 1100px;
  }
  .Splashslide {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
