.splash-section {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 150px;
  padding-left: 80px;
}

.splash_heading {
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.splash_row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.splash_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.splash-text-wrapper {
  max-width: 540px;
  padding-top: 0;
}
.headline2 {
  padding-left: 30px;
}
.headline1 {
  padding-left: 0px;
}

.splash_subtitle {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 25px;
  line-height: 30px;
}
.splash_img_wrapper {
  max-width: 555px;
}

.splash-img {
  margin-top: 0;
  margin-right: 0;
  margin-right: 20px;
  border: 0;
  width: 95%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .splash-section {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .splash_heading {
    font-size: 40px;
  }

  .headline2 {
    padding-left: 0px;
  }

  .splash-text-wrapper {
    padding-bottom: 65px;
  }

  .splash_col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 300px) {
  .splash_heading {
    font-size: 30px;
  }

  .splash_subtitle {
    font-size: 20px;
  }
}
