.splash-section {
  color: #fff;
  padding-top: 20px;
  padding-left: 60px;
}

.splash_heading {
  margin-bottom: 20px;
  font-size: 5vmax;
  font-weight: 900;
}

.splash_row {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.splash_col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
}

.splash-text-wrapper {
  padding-top: 0;
  vertical-align: middle;
}

.mainHeadline {
  color: #fe8464;
  letter-spacing: -0.05em;
  /* text-shadow: 1.5px 1.5px #a84420; */
}

.splash_subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  /* font-size: 25px; */
  font-size: 2vmax;
  line-height: 2.5vmax;
}
.splash_img_wrapper {
  display: flex;
  text-align: center;
  /* vertical-align: middle;
  align-items: center;
  justify-content: center; */
}

.splash-img {
  margin-top: 20px;
  border: 0;
  width: 100%;
}

@media screen and (min-width: 1700px) {
  .splash-section {
    padding-left: 9vmax;
  }
  .splash-text-wrapper {
    padding-top: 3vmax;
  }
  .splash_img_wrapper {
    padding-top: 3vmax;
  }
}

@media screen and (max-width: 768px) {
  .splash_heading {
    font-size: 8vh;
  }
  .splash_subtitle {
    font-size: 25px;
    line-height: 5.5vmax;
  }

  .splash_col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .splash-img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .splash-section {
    padding-left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .splash-section {
    padding-left: 0px;
  }
  .splash_heading {
    font-size: 5.8vh;
  }
}

@media screen and (max-width: 300px) {
  .splash-section {
    padding-left: 0px;
    width: 280px;
  }
  .splash_heading {
    font-size: 30px;
  }

  .splash_subtitle {
    font-size: 20px;
    line-height: 5.5vmax;
  }
}
