.s_tiles_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  grid-template-rows: auto;
  text-align: center;
}

.s_tiles {
  display: inline-grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.s_tiles:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

#services_t {
  padding: 100px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
#services_t .s_tiles_desc {
  margin: 10px 10px 20px;
}
#services_t h2 {
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: 60px;
}

#services_t div {
  padding-left: 10px;
  padding-right: 10px;
}

.services_title {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 150px;
  justify-content: center;
  text-align: center;
}

#services_t h3 {
  font-weight: 500;
  padding: 5px 0;
}

.img--small {
  width: 40%;
  padding: 4px 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img--medium {
  width: 60%;
  padding: 8px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img--large {
  width: 80%;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .s_tiles_container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #services_t div {
    padding-left: 10px;
    padding-right: 10px;
  }
  #services_t {
    padding: 5px;
  }
}

@media screen and (max-width: 300px) {
  .s_tiles_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
